{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Sign Up</title>
  <link rel="stylesheet" href="{% static 'student/css/signup.css' %}" />
  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap" rel="stylesheet" />
</head>

<body>
  <main id="loginform">

    <div class="loginCard" id="studentCard">
      <h1 class="loginHeading">Student Signup</h1>
      <form method="POST">
        {% csrf_token %} {% for f in form %} {{f}}
        <span class="err">{{f.errors|striptags}}</span> <br />
        {% endfor %}
        <input type="submit" name="" value="Submit" class="btn" />
      </form>
  </main>
  <a href="{% url 'login' %}" title="">Have an Account? Login</a>
  {% if messages %} {% for m in messages %}
  <p class="success">{{m}}</p>
  {% endfor %} {% endif %}
</body>

</html>